@use '../../scss/' as *;


.article {
    @include flex(column, center);
    width: 90%;
    margin: 10px auto;
    gap: 2px;
    align-items: flex-start;
    
        @include lg {
            @include flex(row, center);
            margin: 55px auto;
            gap:0px;
            width: 85%;
        }

        @include xl {
            @include flex(row, flex-start);
            margin: 35px auto 70px auto;
        }

        @include xxl {
            margin: 35px auto 100px auto;
        }
}

.article-right {
    @include flex(column, center);
    width: 100%;
    padding: 20px 0px;

    @include lg {
        width: 20%;
    }

    @include xl {
        width: 28%;

    }

    
    @include xxl {
        align-items: flex-start;
        width: 20%;
    }

 
}

        .profile-data {
            border: 1px solid black;
            padding: 5px 0px;
            @include flex(column, center);
            align-items: center;

            @include lg {
                padding: 10px 5px;
                width: 100%;
            }
            
            @include xxl {
                padding: 20px;
            }


        .profile-name {
            margin-bottom: 2px;
            font-family: $font-cormorant;
            font-size: 0.7rem;
            font-weight: bold;

            @include xs {
                font-size: 1.1rem;
            }
    
            @include md {
                font-size: 1.6rem;
            }
    
            @include lg {
                font-size: 1.4rem;
            }
    
            @include xl {
                font-size: 1.6rem;
            }

            @include xxl {
                font-size: 1.9rem;
            }
            
        }

        p {
            text-align: center;
            font-family: $font-small;
            line-height: 0.6rem;
            font-size: 0.5rem;
            padding: 0px 2px;
            color: $text-color;

            @include xs {
                font-size: 0.6rem;
                line-height: 0.8rem;
                padding: 0px 5px;
            }
               
            @include md {
                font-size: 0.9rem;
                line-height: 1.2rem;
            }
    
            @include lg {
                font-size: 0.8rem;
            }

            @include xl {
                font-size: 0.9rem;
            }

       
        }
    }




.info-social {
    @include flex(row, center);
    gap: 8px;
    margin-top: 5px;

    @include md {
        margin-top: 10px;
    }

     .title-info {
         font-family: $font-subtitle;
         font-weight: bold;
         font-size: 0.4rem;

         @include xs {
            font-size: 0.6rem;
        }
           
        @include md {
            font-size: 0.9rem;
        }
    
        @include lg {
            font-size: 0.8rem;
        }
    

        @include xl {
            font-size: 1rem;
        }
     }
}
.social-media {
    @include flex(row, center);
    align-items: center;
    gap: 3px;
    font-size: 0.5rem;
    
    @include xs {
        font-size: 0.6rem;
    }
       
    @include md {
        font-size: 0.8rem;
    }

    @include lg {
        font-size: 0.9rem;
    }

    @include xl {
        font-size: 1rem;
    }

}

.article-left {
    @include flex(column, flex-start);
    width:  100%;
    gap: 10px;

    h3 {
        @include title($font-cormorant);
     }
}

.container-article-left {
    @include flex(column, center);
    gap: 10px;

    
    @include md {
        gap: 20px;
    }

    @include lg {
        gap: 25px;
    }
    
    @include xxl {
        width: 80%;
        gap: 20px;
    }
}

.content-article-left {
    @include flex(row, center);
    gap: 2px;
    align-items: center;
    
    @include md {
        gap: 15px;
    }

    
    @include xxl {
        gap: 25px;
        }
    


}

.button-container {
    
    background-color: black;
    font-size:  0.4rem;
    padding: 4px 6px;
    color: white;
    border: none;

    @include xs {
        font-size: 0.7rem;
        padding: 6px 10px;
    }

    
    @include md {
        font-size: 0.8rem;
        padding: 8px 12px;
    }

    
    @include lg {
        padding: 9px 16px;
    }

    @include xl {
        font-size: 0.9rem;
        padding: 12px 20px;
    }

    @include xxl {
        font-size: 0.9rem;
        padding: 12px 25px;
    }
}

.card-content {
    @include flex(column, flex-start);
    align-items: flex-start;
    gap: 2px;
    padding: 2px 5px;
    width: 80%;

    @include xxs {
        gap: 4px;

    }

    @include xs {
        gap: 5px;
    }

    
    @include md {
        gap: 8px;
    }


    @include lg {
        gap: 10px;
    }


    @include xl {
        gap: 12px;
    }

    
    @include xxl {
    gap: 20px;
    }

    .button-navbar {
        @extend .button-container;
    }

    h4 {
        font-family: $font-cormorant;
        font-weight: bold;
        font-size: 0.8rem;

        @include xs {
            font-size: 1.3rem;
        }

        @include md {
            font-size: 1.9rem;
        }

        @include lg {
            font-size: 1.8rem;
        }

        @include xl {
            font-size: 2rem;
        }

        
        @include xxl {
            font-size: 2.2rem;
        }

    }

    p {
        font-family: $font-subtitle;
        color: #949799;
        font-size: 0.5rem;
        padding-bottom: 5px;

        @include xs {
            font-size: 0.6rem;
            line-height: 0.7rem;
        }
           
        @include md {
            font-size: 1.2rem;
            font-family: $font-cormorant;
        }

        @include lg {
            font-size: 1.1rem;
        }

        @include xl {
            font-size: 1.2rem;
        }

        
        @include xxl {
            font-size: 1.4rem;
        }
    }

    .text-card {
        font-family: $font-small;
        font-size: 0.3rem;
        display: flex;
        flex-direction: row;
        gap: 4px;
        

        p {
            padding-bottom: 2px;
        }

            
        @include md {
            font-size: 0.7rem;
        }

        @include lg {
            font-size: 0.8rem;
        }

        @include xl {
            font-size: 1.1rem;
        }
    }

    .small-text {
        color: black;
    }

   
 

}

.img-profile {
    width: 40%;
    height: 100%;
    

    img {
        width: 100%;
        height: 100%;
    }
}




.destination {
    @include flex(column, center);
    width: 100%;
    margin: 10px auto;
    padding: 20px 0px;
    font-family: $font-cormorant;
    font-weight: bold;

    @include lg {
        padding: 15px 0px;
    }



}

.content-destination {
    @include flex(row, flex-start);
    flex-wrap: wrap;
    gap: 5px;
    padding:10px 0px;

    @include lg {
        @include flex(column, flex-start);
    }

}

.card-destination {
    @include flex(column, center);
    align-items: center;
    color: $text-card;
    background-color: $base-color;
    padding: 10px;
    width: 40%;
    gap: 2px;
    font-size: 0.6rem;

    @include xs {
        font-size: 0.8rem;
        padding: 15px;
        line-height: 0.7rem;
    }
    @include md { 
        width: 24%;
        padding: 26px 0px;
        font-size: 1rem;
        gap: 8px;
    }


    @include lg {
        width: 100%;
        font-size: 1.1rem;
        gap: 10px;
    }

    @include xl {
        font-size: 1.2rem;
        gap: 12px;
    }

     hr {
        width: 25%;
        height: 2px;
        background-color: white;
       
        @include xs {
            width: 16%;
        }

        @include md { 
            width: 35%;
            height: 3px;
        }

        @include lg { 
            width: 25%;
            height: 3px;
        }
    }

}



.next-destination {
    @include flex(column, center);
    border: 2px solid $base-color;
    width: 100%;
    font-family: $font-cormorant;
    padding: 10px 0px;
    align-items: center;
    margin-bottom: 20px;

    p {
        font-family: $font-subtitle;
        font-size: 0.6rem;
        color: #949799;
    }

    
    @include lg {
        gap: 5px;
    
    }

    @include xxl {
        gap: 10px;
    
    }

}

.info-next {
    @include flex(column, center);
    align-items: center;
    gap: 2px;
    padding: 5px 0px;


    @include lg {
    padding: 5px 10px;

    }

     p {
        font-family: $font-subtitle;
        font-size: 0.6rem;

   
        @include xs {
            font-size: 0.6rem;
            line-height: 0.8rem;
            padding: 0px 5px;
        }
           
        @include md {
            font-size: 0.9rem;
            line-height: 1.2rem;
        }

        @include lg {
            font-size: 0.8rem;
            text-align: center;
            line-height: 0.8rem;
        }

        @include xl {
            font-size: 0.9rem;
            line-height: 1rem;
        }


        
     }

}

.title-destination {
   font-family: $font-cormorant;
   font-size: 0.9rem;
   font-weight: bold;

   @include xs {
    font-size: 1.1rem;
}

    @include md {
        font-size: 1.2rem;
    }

    @include lg {
        font-size: 1.1rem;
    }

    @include xl {
        font-size: 1.2rem;
    }

    
    @include xxl {
        font-size: 1.6rem;
    }
}


.title-destination-2 {

    font-family: $font-cormorant;
   font-size: 0.9rem;
   font-weight: bold;


    @include xs {
        font-size: 1.1rem;
    }

    @include md {
        font-size: 1.6rem;
    }

    @include lg {
        font-size: 1.4rem;
    }

    @include xl {
        font-size: 1.6rem;
    }

    @include xxl {
        font-size: 1.9rem;
    }
}

.desti-name{
    @include flex(column, center);
    width: 92%;
}

.desti-name {
    gap: 5px;
    margin-bottom: 10px;

    @include xxl {
        margin-bottom: 20px;
    }

    
    .button-read {
        @extend .button-container;
        margin-top: 10px;
        padding: 8px 0px;

        
        @include xxl {
            padding: 12px 0px;
        }
    }
}

.container-form {
    @include flex(column, center);
    margin: 5px 0px;
    
    .input {
        border: none;
        border-bottom: 1px solid #DCE4E7;
        padding: 5px;
    }

    .name-label {
        color: black;
    }

    label {
        font-weight: 400;
        font-family: $font-subtitle;
        color: #949799;
        font-size: 0.6rem;
      
        @include xs {
            font-size: 0.6rem;
            line-height: 0.8rem;
            padding: 0px 5px;
        }
           
        @include md {
            font-size: 0.9rem;
            line-height: 1.2rem;
        }

        @include lg {
            font-size: 0.8rem;
        }

        @include xl {
            font-size: 0.9rem;
        }

        @include xxl {
            font-size: 1rem;
        }
    }
    
}