@use '../../scss/' as *;

.container-navbar {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    padding: 8px 30px;
    justify-content: space-between;
    align-items: center;
    color : rgb(51, 51, 51);
    min-height: 56px;
    line-height: 24px;
    text-size-adjust: 100%;
    width: 100%;

    @include md {
        padding: 0% 4% 0% 4%;
        background-color: rgb(248, 248, 248);
    }

    @include lg {
        padding: 2% 3% 0% 3%;
        justify-content: center;
        gap: 60px;
    }

    @include xxl {
        padding: 1.5% 8% 0% 8%;
        gap: 30%;
        font-size: 1.2rem;
    }

    @include xl {
        gap: 14%;
    }
}


.img-logo {
    display: flex;
    width: 32%;
    height: 100%;
    justify-content: center;
    align-items: center;
    @include xs {
        width: 22%;
    }

    @include md {
        width: 16%;
    }

    @include lg {
        width: 12%;
    }

    @include xl {
        width: 9%;
    }

    @include xxl {
        width: 8%;
    }
}

.img-logo img {
    width: 100%;
    height: 100%;
}

.navbar-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;

    @include lg {
        gap: 2px;
    }
    @include xxl {
        gap: 12px;
    }
}

.navbar-left-menu {

    display: none; 

    @include lg { 
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style-type: none;

    .arrow-down {
        padding-top: 4px;
    }
}
    @include xxl {
        gap: 30px;

        .arrow-down {
            padding-top: 3px;
        }
    }
}

.navbar-right {
    .bar {
        display: block;
    }

    @include lg {
        .bar {
            display: none;
        }
    }
}


.navbar-right-menu {

    display: none;

    @include lg {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 22px;
    }

    button {
        color: rgb(2, 169, 92);
        border: 1px solid rgb(2, 169, 92);
        background-color: rgba(0, 0, 0, 0);
        padding: 6px 12px;
        border-radius: 20px;
        font-weight: 600;
    }

    @include xxl {
        gap: 40px;

        button {
            font-size: 1.2rem;
            padding: 6px 20px;
        }
    }

}

